*,*::after,*::before{
    box-sizing: border-box;
}
:root{
    --cell-size:100px;
    --mark-size:calc(var(--cell-size)*0.9);
}

body{
    margin:0;
}

.board{
    width:100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3,auto);
}

.cell{
    width:var(--cell-size);
    height:var(--cell-size);
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;

}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
    border-top: none;
}

.cell:nth-child(3n+1){
    border-left: none;
}
.cell:nth-child(3n+3){
    border-right: none;
}

.cell:nth-child(9){
    border-bottom: none;
}
.cell:nth-child(8){
    border-bottom: none;
}
.cell:nth-child(7){
    border-bottom: none;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after{
    content:'';
    width:calc(var(--mark-size)*0.15);
    height: var(--mark-size);
    background-color: black;
    position: absolute;

}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before{
    transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after{
    transform: rotate(-45deg);
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after{
    background-color: lightgrey;
}

/* Circle */
.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before
{
    content:'';
    height: var(--mark-size);
    width: var(--mark-size);
    border:12px solid black;
    border-radius: 100px;
    position: absolute;

}
.board.circle .cell:not(.x):not(.circle):hover::before{
    border: 12px solid lightgrey;
    
}
.cell.x,
.cell.circle{
    cursor: not-allowed;
}

/* button */
.winningMsg{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 5rem;
}
.winningMsg button{
    font-size: 3rem;
    background-color: black;
    border:2px solid white;
    border-radius: 10px;
    padding: 0.25rem .5rem;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

.winningMsg button:hover{
    background-color: grey;
}

.winningMsg.show{
    display: flex;
}




